body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f9f9f9;
}

.benefits-section {
    background-image: linear-gradient(to bottom, #f6f8fc 0%, #fff 70%);
}

h1,
h2 {
    text-align: center;
    color: #333;
}

form {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

input[type="number"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="select"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="button"] {
    padding: 10px 20px;
    background-color: #3f87f5;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    width: 100%;
}

input[type="button"]:hover {
    background-color: #3f87f5;
}

@media (max-width: 768px) {

    th,
    td {
        font-size: 14px;
    }

    input[type="button"] {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    table {
        display: block;
        overflow-x: auto;
    }

    th,
    td {
        padding: 6px;
    }

    input[type="button"] {
        font-size: 14px;
        padding: 12px;
    }
}

.totals {
    text-align: center;
    margin-top: 20px;
}

.totals p {
    font-size: 18px;
    margin: 8px 0;
}



/* Result Page */
.card2[_ngcontent-ng-cli-universal-c1584294844] {
    padding: 24px;
    border: 1px solid #E5EBF2;
    background-color: #fff;
}

*,
:after,
:before {
    box-sizing: border-box;
}