<app-shared-layout></app-shared-layout>
<section class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-7 pt-5 mb-5 align-self-center">
                <div class="promo pe-md-3 pe-lg-5">
                    <h1 class="headline mb-3">
                        "Comprehensive tax insights for smarter financial planning."
                    </h1><!--//headline-->
                    <div class="subheadline mb-4">
                        Our Vison, To empower users with in-depth comparisons of old and new tax regimes, offering
                        personalized
                        recommendations on investments, expenses, and income to optimize their <b class="b_tag">
                            financial
                            decisions!
                        </b>

                    </div><!--//subheading-->

                    <div class="cta-holder row gx-md-3 gy-3 gy-md-0">
                        <div class="col-12 col-md-auto">
                            <a class="btn btn-primary w-100" target="_blank" href="/taxhelp">
                                Tax Assistance
                            </a>
                        </div>
                        <div class="col-12 col-md-auto">
                            <a class="btn btn-secondary scrollto w-100"
                                (click)="redirectToInvestmentCalculatorPage()">Get My Report</a>
                        </div>
                    </div><!--//cta-holder-->


                </div><!--//promo-->
            </div><!--col-->
            <div class="col-12 col-md-5 mb-5 align-self-center">
                <div class="book-cover-holder">
                    <img class="img-fluid book-cover" src="assets/images/Report.jpg" alt="book cover">
                    <!-- <div class="book-badge d-inline-block shadow">
              Totally <br> Free !!!
            </div> -->
                </div><!--//book-cover-holder-->
                <!-- <div class="text-center"><a class="theme-link scrollto" href="#reviews-section">See all book reviews</a></div> -->
            </div><!--col-->
        </div><!--//row-->
    </div><!--//container-->
</section><!--//hero-section-->

<section id="benefits-section" class="benefits-section theme-bg-light-gradient py-5">
    <div class="container py-5">
        <h2 class="section-heading text-center mb-3">What Will You Get From This Report?</h2>
        <!-- <div class="section-intro single-col-max mx-auto text-center mb-5">Section intro goes here. Lorem ipsum dolor sit
        amet, consectetur adipiscing elit. Integer blandit consequat consequat. Orci varius natoque penatibus et magnis.
      </div> -->
        <div class="row text-center">
            <div class="item col-12 col-md-6 col-lg-4">
                <div class="item-inner p-3 p-lg-4">
                    <div class="item-header mb-3">
                        <div class="item-icon"><i class="fas fa-laptop-code"></i></div>
                        <h3 class="item-heading">Comprehensive Tax Regime Comparison</h3>
                    </div><!--//item-heading-->
                    <div class="item-desc">
                        Understand the key differences between old and new tax regimes with clear, visual comparisons.
                    </div><!--//item-desc-->
                </div><!--//item-inner-->
            </div><!--//item-->
            <div class="item col-12 col-md-6 col-lg-4">
                <div class="item-inner p-3 p-lg-4">
                    <div class="item-header mb-3">
                        <div class="item-icon"><i class="fas fa-heart"></i></div>
                        <h3 class="item-heading">Best Tax Regime For You</h3>
                    </div><!--//item-heading-->
                    <div class="item-desc">
                        See which regime offers the best benefits based on your unique financial situation.
                    </div><!--//item-desc-->
                </div><!--//item-inner-->
            </div><!--//item-->
            <div class="item col-12 col-md-6 col-lg-4">
                <div class="item-inner p-3 p-lg-4">
                    <div class="item-header mb-3">
                        <div class="item-icon"><i class="fab fa-rocketchat"></i></div>
                        <h3 class="item-heading">HRA Calculation</h3>
                    </div><!--//item-heading-->
                    <div class="item-desc">
                        Receive tailored advice on optimizing your rent for better tax efficiency.
                    </div><!--//item-desc-->
                </div><!--//item-inner-->
            </div><!--//item-->


            <!-- <div class="item col-12 col-md-6 col-lg-4">
                <div class="item-inner p-3 p-lg-4">
                    <div class="item-header mb-3">
                        <div class="item-icon"><i class="fas fa-user-check"></i></div>
                        <h3 class="item-heading">Actionable Insights</h3>
                    </div>
                    <div class="item-desc">
                        Maximize your returns and minimize your tax liabilities with actionable insights.
                    </div>
                </div>
            </div>
            <div class="item col-12 col-md-6 col-lg-4">
                <div class="item-inner p-3 p-lg-4">
                    <div class="item-header mb-3">
                        <div class="item-icon"><i class="fas fa-code-branch"></i></div>
                        <h3 class="item-heading">Clear Actionable Steps</h3>
                    </div>
                    <div class="item-desc">
                        Gain a straightforward approach to applying insights for financial optimization.
                    </div>
                </div>
            </div>
            <div class="item col-12 col-md-6 col-lg-4">
                <div class="item-inner p-3 p-lg-4">
                    <div class="item-header mb-3">
                        <div class="item-icon"><i class="fas fa-fa-book"></i></div>
                        <h3 class="item-heading">Simpler Report Format</h3>
                    </div>
                    <div class="item-desc">
                        Easy-to-read report layout designed for clarity and simplicity.
                    </div>
                </div>
            </div> -->


        </div><!--//row-->
    </div><!--//container-->
</section><!--//benefits-section-->



<section id="audience-section" class="audience-section py-5">
    <div class="container">
        <h2 class="section-heading text-center mb-4">Who This Report Is For</h2>
        <div class="section-intro single-col-max mx-auto text-center mb-5">
            <!-- List your target readers in this section and back up with reviews. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Proin sodales sit amet neque sit amet molestie. Vivamus hendrerit nisi condimentum erat tempus,
        vitae accumsan odio euismod. -->
        </div><!--//section-intro-->
        <div class="audience mx-auto">
            <div class="item row gx-3">
                <div class="col-auto item-icon"><i class="fas fa-user-check"></i></div>
                <div class="col">
                    <h4 class="item-title">Individuals Seeking Tax Clarity</h4>
                    <div class="item-desc">Ideal for anyone looking to understand the impact of different tax regimes on
                        their
                        financial situation.</div>
                </div><!--//col-->
            </div><!--//item-->
            <div class="item row gx-3">
                <div class="col-auto item-icon"><i class="fas fa-user-check"></i></div>
                <div class="col">
                    <h4 class="item-title">Savvy Investors</h4>
                    <div class="item-desc">Perfect for investors who want to optimize their portfolio for better tax
                        efficiency.
                    </div>
                </div><!--//col-->
            </div><!--//item-->
            <div class="item row gx-3">
                <div class="col-auto item-icon"><i class="fas fa-user-check"></i></div>
                <div class="col">
                    <h4 class="item-title">Budget-Conscious Savers</h4>
                    <div class="item-desc">Designed for those aiming to manage expenses effectively and maximize
                        deductions.</div>
                </div><!--//col-->
            </div><!--//item-->
            <div class="item row gx-3">
                <div class="col-auto item-icon"><i class="fas fa-user-check"></i></div>
                <div class="col">
                    <h4 class="item-title">Individuals Transitioning Between Tax Regimes</h4>
                    <div class="item-desc">Tailored for those switching from the old to the new tax regime and needing
                        guidance on
                        the change.</div>
                </div><!--//col-->
            </div><!--//item-->
        </div><!--//audience-->
    </div><!--//container-->
</section><!--//audience-section-->


<section id="form-section" class="form-section">
    <div class="container">
        <div class="lead-form-wrapper single-col-max mx-auto theme-bg-light rounded p-5">
            <h2 class="form-heading text-center">Thank you !</h2>
            <div class="form-intro text-center mb-3">With our expertise in the fintech domain, feel free to connect with
                us for any further assistance or collaboration..</div>
            <div class="form-wrapper mx-auto">
                <div class="col-12 col-lg-12">
                    <a type="button" target="_blank" href="https://calendly.com/bhosle-nikhil2024/30min?month=2024-10"
                        class="btn btn-primary btn-submit w-100">Book A Call</a>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- <section id="form-section" class="form-section">
    <div class="container">
        <div class="lead-form-wrapper single-col-max mx-auto theme-bg-light rounded p-5">
            <h2 class="form-heading text-center">Connect with us</h2>
            <div class="form-intro text-center mb-3">To know more about your financial stability, Connect with our
                financial
                Advisor.</div>
            <div class="form-wrapper mx-auto">
                <div class="col-12 col-lg-12">
                    <button type="submit" class="btn btn-primary btn-submit w-100">Book A Call</button>
                </div>

            </div>
        </div>
    </div>
</section> -->

<!-- <section id="reviews-section" class="reviews-section py-5">
    <div class="container">
        <h2 class="section-heading text-center">Customers Reviews</h2>
        <div class="section-intro text-center single-col-max mx-auto mb-5">See what our happy customers are saying.
        </div>
        <div class="row justify-content-center">
            <div class="item col-12 col-lg-4 p-3 mb-4">
                <div class="item-inner theme-bg-light rounded p-4">

                    <blockquote class="quote">
                        "Excellent Book! Add your book review here consectetur adipiscing elit. Aliquam euismod nunc
                        porta urna
                        facilisis tempor. "
                    </blockquote>
                    <div class="source row gx-md-3 gy-3 gy-md-0">
                        <div class="col-12 col-md-auto text-center text-md-start">
                            <img class="source-profile" src="assets/images/profiles/profile-1.png" alt="image">
                        </div>
                        <div class="col source-info text-center text-md-start">
                            <div class="source-name">James Doe</div>
                            <div class="soure-title">Co-Founder, Startup Week</div>
                        </div>
                    </div>
                    <div class="icon-holder"><i class="fas fa-quote-right"></i></div>
                </div>
            </div>
            <div class="item col-12 col-lg-4 p-3 mb-4">
                <div class="item-inner theme-bg-light rounded p-4">
                    <blockquote class="quote">
                        "Great Book! Add your book review here consectetur adipiscing elit. Aliquam euismod nunc porta
                        urna
                        facilisis tempor. Praesent mauris neque."
                    </blockquote>
                    <div class="source row gx-md-3 gy-3 gy-md-0 align-items-center">
                        <div class="col-12 col-md-auto text-center text-md-start">
                            <img class="source-profile" src="assets/images/profiles/profile-2.png" alt="image">
                        </div>
                        <div class="col source-info text-center text-md-start">
                            <div class="source-name">Jean Doe</div>
                            <div class="soure-title">Co-Founder, Company Tristique</div>
                        </div>
                    </div>

                    <div class="icon-holder"><i class="fas fa-quote-right"></i></div>
                </div>
            </div>
            <div class="item col-12 col-lg-4 p-3 mb-4">
                <div class="item-inner theme-bg-light rounded p-4">
                    <blockquote class="quote">
                        "Excellent Book! Add your book review here consectetur adipiscing elit. Pellentesque ac leo
                        turpis.
                        Phasellus imperdiet id ligula tempor imperdiet."
                    </blockquote>
                    <div class="source row gx-md-3 gy-3 gy-md-0 align-items-center">
                        <div class="col-12 col-md-auto text-center text-md-start">
                            <img class="source-profile" src="assets/images/profiles/profile-3.png" alt="image">
                        </div>
                        <div class="col source-info text-center text-md-start">
                            <div class="source-name">Tom Doe</div>
                            <div class="soure-title">Product Designer, Company Lorem</div>
                        </div>
                    </div>
                    <div class="icon-holder"><i class="fas fa-quote-right"></i></div>
                </div>
            </div>
            <div class="item col-12 col-lg-4 p-3 mb-4">
                <div class="item-inner theme-bg-light rounded p-4">
                    <blockquote class="quote">
                        "Another book review here consectetur adipiscing elit. Pellentesque ac leo turpis. Phasellus
                        imperdiet id
                        ligula tempor imperdiet."
                    </blockquote>
                    <div class="source row gx-md-3 gy-3 gy-md-0 align-items-center">
                        <div class="col-12 col-md-auto text-center text-md-start">
                            <img class="source-profile" src="assets/images/profiles/profile-4.png" alt="image">
                        </div>
                        <div class="col source-info text-center text-md-start">
                            <div class="source-name">Alice Doe</div>
                            <div class="soure-title">App Developer, Company Ipsum</div>
                        </div>
                    </div>
                    <div class="icon-holder"><i class="fas fa-quote-right"></i></div>
                </div>
            </div>
            <div class="item col-12 col-lg-4 p-3 mb-4">
                <div class="item-inner theme-bg-light rounded p-4">
                    <blockquote class="quote">
                        "Another book review here consectetur adipiscing elit. Pellentesque ac leo turpis. Phasellus
                        imperdiet id
                        ligula tempor imperdiet."
                    </blockquote>
                    <div class="source row gx-md-3 gy-3 gy-md-0 align-items-center">
                        <div class="col-12 col-md-auto text-center text-md-start">
                            <img class="source-profile" src="assets/images/profiles/profile-5.png" alt="image">
                        </div>
                        <div class="col source-info text-center text-md-start">
                            <div class="source-name">Sam Doe</div>
                            <div class="soure-title">Co-Founder, Company Integer</div>
                        </div>
                    </div>
                    <div class="icon-holder"><i class="fas fa-quote-right"></i></div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <a class="btn btn-primary" (click)="redirectToInvestmentCalculatorPage()">Get
                Your Copy Today</a>
        </div>
    </div>
</section> -->